<div class="p-header">
  <div class="p-header__wrap">
    <h1 class="p-header__logo">
      <img src="../{{ root }}/assets/img/logo_w.png" alt="curation eat" />
    </h1>
    <div class="p-header__list-wrap">
      <div class="c-hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="p-header__list">
        <li class="p-header__item-logo">
          <img src="../{{ root }}/assets/img/logo_w2.png" alt="" />
        </li>
        <li class="p-header__item">
          <a href="">Topics</a>
        </li>
        <li class="p-header__item"><a href="">Concept</a></li>
        <li class="p-header__item"><a href="">Message</a></li>
        <li class="p-header__item"><a href="">Shop Info</a></li>
        <li class="p-header__item-istagram">
          <i class="fab fa-instagram"></i>
        </li>
        <li class="c-number u-margin u-show-hide">
          <i class="fas fa-phone-alt"></i>
          06-7410-2526
        </li>
      </ul>
      <p class="p-header__instagram"><i class="fab fa-instagram"></i></p>
    </div>
  </div>
</div>
