<section class="l-topics">
  <div class="p-topics__icon">
    <img src="{{ root }}/assets/img/topics.png" alt="" />
  </div>
  <div class="p-topics__post-wrap">
    <div class="p-topics__post">
      <p class="p-topics__image">
        <img src="{{ root }}/assets/img/post_image_news.jpg" alt="" />
      </p>
      <p class="p-topics__title">予約を開始いたします</p>
      <p class="p-topics__details">2021/07 | News</p>
    </div>
    <div class="p-topics__post">
      <p class="p-topics__image">
        <img src="{{ root }}/assets/img/post_image_news.jpg" alt="" />
      </p>
      <p class="p-topics__title">予約を開始いたします</p>
      <p class="p-topics__details">2021/07 | News</p>
    </div>
    <div class="p-topics__post">
      <p class="p-topics__image">
        <img src="{{ root }}/assets/img/post_image_news.jpg" alt="" />
      </p>
      <p class="p-topics__title">予約を開始いたします</p>
      <p class="p-topics__details">2021/07 | News</p>
    </div>
  </div>
</section>
