@use "../global" as *;
@use "../foundation/var" as *;

.l-message {
  background-color: #f5f5f5;
  padding: 80px 50px 100px;
  position: relative;
  // height: calc(950 / 1200 * 100vw);
  @include responsive-down(xl) {
    padding-top: calc(60 / 1200 * 100vw);
    padding-left: calc(50 / 1200 * 100vw);
    padding-right: calc(50 / 1200 * 100vw);
    padding-bottom: calc(60 / 1200 * 100vw);
  }
  @include responsive-down(md) {
    padding-top: calc(30 / 768 * 100vw);
    height: calc(1380 / 768 * 100vw);
  }
  @include responsive-down(xs) {
    height: calc(1220 / 375 * 100vw);
  }
}
