.l-slide-show {
  // padding: 80px 200px;
  padding: 50px 0;
}

#container {
  margin: 20px;
  width: 400px;
  height: 8px;
  &::before {
    content: "";
    height: 8px;
    background-color: #333;
    color: #333;
    display: block;
    width: 0%;
  }
}
