@use "../../global" as *;
@use "../../foundation/var" as *;

.p-hero-image {
  height: 100vh;
  padding: 20px;
  position: relative;
  width: 100%;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.scrolldown1 {
  bottom: 30px;
  height: 50px;
  left: 55px;
  position: absolute;

  &::after {
    animation: pathmove 1.4s ease-in-out infinite;
    background: #eee;
    content: "";
    height: 30px;
    opacity: 0;
    position: absolute;
    width: 1px;
  }
}

.scrolldown1 span {
  color: #eee;
  font-family: $MinionPro-Regular;
  font-size: 14px;
  letter-spacing: 0.05em;
  position: absolute;
  top: -20px;
  left: -20px;
}

@keyframes pathmove {
  0% {
    height: 0;
    opacity: 0;
    top: 0;
  }

  30% {
    height: 30px;
    opacity: 1;
  }

  100% {
    height: 0;
    opacity: 0;
    top: 50px;
  }
}

.p-hero-image__company-details {
  top: -130px;
  color: #fff;
  font-family: $MinionPro-Regular;
  font-size: 14px;
  letter-spacing: 1.3px;
  position: absolute;
  right: 70px;
  text-align: end;

  @include responsive-down(md) {
    top: unset;
    bottom: 40px;
    right: 40px;
  }
}

.p-hero-image__address {
  line-height: 25px;
  @include responsive-down(md) {
    line-height: 20px;
  }
}
.p-hero-image__number {
  line-height: 25px;
  @include responsive-down(md) {
    line-height: 20px;
  }
}
