@use "../../global" as *;
@use "../../foundation/var" as *;

.p-topics {
  display: flex;
  justify-content: center;

  width: 90%;
  margin: auto;
  padding: 80px 0;
  @include responsive-down(md) {
    flex-direction: column;
    padding: 38px 0 58px;
  }
}

.p-topics__title {
  font-family: $MinionPro-Regular;
  font-size: 26px;
  letter-spacing: 1.3px;
  margin-top: 10px;
  @include responsive-down(xl) {
    font-size: calc(26 / 1200 * 100vw);
    letter-spacing: calc(1.3 / 1200 * 100vw);
    margin-top: calc(10 / 1200 * 100vw);
  }

  @include responsive-down(md) {
    font-size: calc(26 / 768 * 100vw);
    letter-spacing: calc(1.3 / 768 * 100vw);
    margin-top: calc(10 / 768 * 100vw);
  }

  @include responsive-down(sm) {
    font-size: calc(26 / 576 * 100vw);
    letter-spacing: calc(1.3 / 576 * 100vw);
    margin-top: calc(10 / 576 * 100vw);
  }
  text-align: center;
}

.p-topics__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 40px;

  @include responsive-down(xl) {
    margin-left: calc(40 / 1200 * 100vw);
  }

  @include responsive-down(md) {
    margin-top: 38px;
    margin-left: 0;
  }
}

.p-topics__post-wrap {
  display: flex;
  position: relative;
  justify-content: center;

  @include responsive-down(xl) {
    overflow: hidden;
  }

  @include responsive-down(md) {
    flex-wrap: wrap;
  }
}

.p-topics__post {
  font-family: $default-font-family;
  a {
    display: block;
    cursor: pointer;
  }

  @include responsive-up(md) {
    & + & {
      margin-left: 20px;
    }
  }
  @include responsive-down(md) {
    &:nth-child(2n) {
      margin-left: calc(30 / 768 * 100vw);
    }
    &:nth-child(n + 3) {
      margin-top: calc(30 / 768 * 100vw);
    }
  }
  @include responsive-down(sm) {
    &:nth-child(2n) {
      margin-left: calc(30 / 576 * 100vw);
    }
    &:nth-child(n + 3) {
      margin-top: calc(30 / 576 * 100vw);
    }
  }
}

.p-topics__image {
  background-image: url("./assets/img/post_image_news.jpg");
  background-image: url("../img/post_image_news.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  width: 260px;
  height: 180px;
  @include responsive-down(xl) {
    height: calc(180 / 1200 * 100vw);
    width: calc(260 / 1200 * 100vw);
  }
  @include responsive-down(md) {
    height: calc(180 / 768 * 100vw);
    width: calc(260 / 768 * 100vw);
  }
  @include responsive-down(sm) {
    // height: calc(170 / 576 * 100vw);
    // width: calc(240 / 576 * 100vw);
    height: 170px;
    width: 240px;
  }
}

.p-topics__post-title {
  font-size: 18px;
  margin-top: 10px;
  letter-spacing: 1.3px;
  font-weight: 700;

  @include responsive-down(xl) {
    font-size: calc(18 / 1200 * 100vw);
    letter-spacing: calc(1.3 / 1200 * 100vw);
    margin-top: calc(10 / 1200 * 100vw);
  }
  @include responsive-down(md) {
    font-size: calc(18 / 768 * 100vw);
    letter-spacing: calc(1.3 / 768 * 100vw);
    margin-top: calc(15 / 768 * 100vw);
  }
  @include responsive-down(sm) {
    font-size: calc(18 / 576 * 100vw);
    letter-spacing: calc(1.3 / 576 * 100vw);
    margin-top: calc(15 / 576 * 100vw);
  }
}

.p-topics__icon {
  img {
    @include responsive-down(xl) {
      width: calc(58 / 1200 * 100vw);
    }
    @include responsive-down(md) {
      width: calc(58 / 768 * 100vw);
    }
    @include responsive-down(sm) {
      width: calc(58 / 576 * 100vw);
    }
  }
  text-align: center;
}

.p-topics__details {
  font-size: 14px;
  margin-top: 10px;
  @include responsive-down(xl) {
    font-size: calc(14 / 1200 * 100vw);
    margin-top: calc(10 / 1200 * 100vw);
  }
  @include responsive-down(md) {
    font-size: calc(14 / 768 * 100vw);
    margin-top: calc(10 / 768 * 100vw);
  }
  @include responsive-down(sm) {
    font-size: calc(14 / 576 * 100vw);
    margin-top: calc(10 / 576 * 100vw);
  }
}

.u-sp {
  display: none;
  @include responsive-down(md) {
    display: block;
  }
}
