<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="format-detection" content="email=no,telephone=no,address=no" />
<title>{% if page.url !== '/' %}{{ title }} | {% endif %}{{ site.name }}</title>
<meta name="description" content="{{ description }}" />

<meta property="og:title" content="{{ site.name }}" />
<meta
  property="og:type"
  content="{% if page.url === '/' %}website{% else %}article{% endif %}"
/>
<meta property="og:image" content="{{ root }}/assets/img/top.png" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:description" content="サイトの概要" />
<meta property="og:site_name" content="サイト名" />
<meta property="og:locale" content="ja" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="" />
<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://use.typekit.net/gxt2erq.css" />
